In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
df = pd.read_csv("car_data.csv")
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [7]:
df.columns

Index(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner'],
      dtype='object')

In [14]:
df.dtypes

Car_Name          object
Year               int64
Selling_Price    float64
Present_Price    float64
Kms_Driven         int64
Fuel_Type         object
Seller_Type       object
Transmission      object
Owner              int64
dtype: object

In [16]:
df.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [17]:
# 1.What is the average prince of all cars in the dataset ?
average = df['Selling_Price'].mean()
print(f"1.The average price of all the cars in the dataset is rupees{average}")

1.The average price of all the cars in the dataset is rupees4.661295681063123

In [18]:
#2.What is the most common fuel type in the dataset?
df["Fuel_Type"].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [20]:
df['Fuel_Type'].nunique()

3

In [22]:
common_fueltype = df['Fuel_Type'].mode()[0]
print(f'2.the most common fuel type is {common_fueltype}')

2.the most common fuel type is Petrol

In [23]:
#3.what is the shape of the dataset?
print("3.Shape:",df.shape)

3.Shape: (301, 9)

In [24]:
#4.What are the datatypes of the each items of the datasets?
#data types
print("\n4. Data types:\n",df.dtypes)

4. Data types:
 Car_Name          object
Year               int64
Selling_Price    float64
Present_Price    float64
Kms_Driven         int64
Fuel_Type         object
Seller_Type       object
Transmission      object
Owner              int64
dtype: object

In [26]:
#5.How many cars have selling price greater than 8.4
df["Selling_Price"].unique()

array([ 3.35,  4.75,  7.25,  2.85,  4.6 ,  9.25,  6.75,  6.5 ,  8.75,
        7.45,  6.85,  7.5 ,  6.1 ,  2.25,  7.75,  3.25,  2.65,  4.9 ,
        4.4 ,  2.5 ,  2.9 ,  3.  ,  4.15,  6.  ,  1.95,  3.1 ,  2.35,
        4.95,  5.5 ,  2.95,  4.65,  0.35,  5.85,  2.55,  1.25,  1.05,
        5.8 , 14.9 , 23.  , 18.  , 16.  ,  2.75,  3.6 ,  4.5 ,  4.1 ,
       19.99,  6.95, 18.75, 23.5 , 33.  , 19.75,  4.35, 14.25,  3.95,
        1.5 ,  5.25, 14.5 , 14.73, 12.5 ,  3.49, 35.  ,  5.9 ,  3.45,
        3.8 , 11.25,  3.51,  4.  , 20.75, 17.  ,  7.05,  9.65,  1.75,
        1.7 ,  1.65,  1.45,  1.35,  1.2 ,  1.15,  1.11,  1.1 ,  1.  ,
        0.95,  0.9 ,  0.75,  0.8 ,  0.78,  0.72,  0.65,  0.6 ,  0.55,
        0.52,  0.51,  0.5 ,  0.48,  0.45,  0.42,  0.4 ,  0.38,  0.31,
        0.3 ,  0.27,  0.25,  0.2 ,  0.18,  0.17,  0.16,  0.15,  0.12,
        0.1 ,  5.75,  5.15,  7.9 ,  4.85, 11.75,  3.15,  6.45,  3.5 ,
        8.25,  5.11,  2.7 ,  6.15, 11.45,  3.9 ,  9.1 ,  4.8 ,  2.  ,
        5.35,  6.25,  5.95,  5.2 ,  3.75, 12.9 ,  5.  ,  5.4 ,  7.2 ,
       10.25,  8.5 ,  8.4 ,  9.15,  6.6 ,  3.65,  8.35,  6.7 ,  5.3 ,
       10.9 ,  8.65,  9.7 ,  2.1 ,  8.99,  7.4 ,  5.65, 10.11,  6.4 ,
        8.55,  9.5 , 11.5 ])

In [28]:
#6.most expensive car in the dataset?
#most expensive car 
most_exp_car = df[df['Present_Price']==df['Present_Price'].max()]
print("\n 6. Car with highest Present Price:\n",most_exp_car[['Car_Name','Present_Price']])

 6. Car with highest Present Price:
         Car_Name  Present_Price
86  land cruiser           92.6

In [29]:
#7.Check for the null value in the dataset?
#3.missing value 
print("\n7.Missing values:\n",df.isnull().sum())

7.Missing values:
 Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [30]:
#8.Check for the duplicate values in the dataset 
#duplicate records 
print("\n8.Duplicate records:",df.duplicated().sum())
print("\n8. Duplicate record:",df.duplicated())

8.Duplicate records: 2

8. Duplicate record: 0      False
1      False
2      False
3      False
4      False
       ...
296    False
297    False
298    False
299    False
300    False
Length: 301, dtype: bool

In [31]:
df[df.duplicated()]

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
17,ertiga,2016,7.75,10.79,43000,Diesel,Dealer,Manual,0
93,fortuner,2015,23.00,30.61,40000,Diesel,Dealer,Automatic,0

In [32]:
print(df[df.duplicated(keep=False)])

    Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
15    ertiga  2016           7.75          10.79       43000    Diesel
17    ertiga  2016           7.75          10.79       43000    Diesel
51  fortuner  2015          23.00          30.61       40000    Diesel
93  fortuner  2015          23.00          30.61       40000    Diesel

   Seller_Type Transmission  Owner
15      Dealer       Manual      0
17      Dealer       Manual      0
51      Dealer    Automatic      0
93      Dealer    Automatic      0

In [33]:
#9.Average Kms Driven 
#14.Avg Kms Driven 
print("\n Average Kms Driven:",df['Kms_Driven'].mean())

 Average Kms Driven: 36947.20598006644

In [34]:
#10.Average Selling Price by Car Model 
print("\n10.Avg Selling Price by Car:\n",df.groupby('Car_Name')['Selling_Price'].mean().sort_values(ascending=False))

10.Avg Selling Price by Car:
 Car_Name
land cruiser           35.000000
fortuner               18.685455
innova                 12.777778
creta                  11.800000
elantra                11.600000
                         ...
Hero  CBZ Xtreme        0.200000
Hero Hunk               0.200000
Hero Super Splendor     0.200000
Bajaj  ct 100           0.180000
Bajaj Discover 125      0.175000
Name: Selling_Price, Length: 98, dtype: float64

In [36]:
#11.Percentage of cars by fuel type
fuel_percent  = df['Fuel_Type'].value_counts(normalize=True)*100
print("\25. Percentage of cars by Fule_Type:\n",fuel_percent)

. Percentage of cars by Fule_Type:
 Fuel_Type
Petrol    79.401993
Diesel    19.933555
CNG        0.664452
Name: proportion, dtype: float64

In [37]:
# 12 Number of car manufactured before 2010
before_2010 = df[df['Year'] < 2010].shape[0]
print("\n Car manufactured before 2010:",before_2010)

 Car manufactured before 2010: 26

In [17]:
#13 What is the most common number of owners (from the Owner column)?
most_common_owner = df['Owner'].mode()[0]
print("Most common number of owner :",most_common_owner)

Most common number of owner : 0

In [18]:
# 14 What is the average number of kilometers driven (Kms_Driven)?
avg_kms_driven = df['Kms_Driven'].mean()
print("Car kms driven:",avg_kms_driven)

Car kms driven: 36947.20598006644

In [63]:
# 15.Which car has the highest Present_Price?
highest_present_price = df.loc[df['Present_Price'].idxmax()]
print("Highest Present Price Car:\n",highest_present_price)

Highest Present Price Car:
 Car_Name         land cruiser
Year                     2010
Selling_Price            35.0
Present_Price            92.6
Kms_Driven              78000
Fuel_Type              Diesel
Seller_Type            Dealer
Transmission           Manual
Owner                       0
Name: 86, dtype: object

In [55]:
#16 What is the correlation between Selling_Price, Present_Price, and Kms_Driven?
correlation = df[['Selling_Price','Present_Price','Kms_Driven']].corr()
print("Correlation between Selling_price, present_price and kms_Driven:\n",correlation)

Correlation between Selling_price, present_price and kms_Driven:
                Selling_Price  Present_Price  Kms_Driven
Selling_Price       1.000000       0.878983    0.029187
Present_Price       0.878983       1.000000    0.203647
Kms_Driven          0.029187       0.203647    1.000000

In [51]:
#17.Which Seller_Type has the highest average Selling_Price?
seller_highest_avg_price = df.groupby('Seller_Type')['Selling_Price'].mean().idxmax()
print("seller_type has the highest average Selling_Price:",seller_highest_avg_price)

seller_type has the highest average Selling_Price: Dealer

In [54]:
# 18.How many cars are there of each Fuel_Type?
fuel_type_count = df['Fuel_Type'].value_counts()
print("fuel type cars:\n",fuel_type_count)

fuel type cars:
 Fuel_Type
Petrol    239
Diesel     60
CNG         2
Name: count, dtype: int64

In [26]:
# 19.How many cars have more than one previous owner?
more_than_one_owner = df[df['Owner']>1].shape[0]
print("one previous owner:",more_than_one_owner)

one previous owner: 1

In [56]:
#20.What are the top 5 most expensive cars in the dataset?
top_5_expensive = df.nlargest(5,'Selling_Price')[['Car_Name','Selling_Price','Present_Price']]
print("5 most expensive cars:\n",top_5_expensive)

5 most expensive cars:
         Car_Name  Selling_Price  Present_Price
86  land cruiser           35.0          92.60
64      fortuner           33.0          36.23
63      fortuner           23.5          35.96
51      fortuner           23.0          30.61
82        innova           23.0          25.39

In [31]:
#21.What is the average difference between Present_Price and Selling_Price?
avg_price_diff = (df['Present_Price'] - df['Selling_Price']).mean()
print("Average difference between present price and Selling price:", avg_price_diff)

Average difference between present price and Selling price: 2.967176079734219

In [57]:
# 22.How many cars are being sold by individual sellers vs dealers?
seller_type_count = df['Seller_Type'].value_counts()
print("Car sold by individual seller vs dealers:\n",seller_type_count)

Car sold by individual seller vs dealers:
 Seller_Type
Dealer        195
Individual    106
Name: count, dtype: int64

In [34]:
# 23.How many cars were manufactured before 2010?
cars_before_2010 = df[df['Year']< 2010].shape[0]
print("cars manufactured before 2010:",cars_before_2010)

cars manufactured before 2010: 26

In [35]:
#24.Which year has the highest number of car listings?
year_highest_listings = df['Year'].value_counts().idxmax() 
print("highest number of car listings:",year_highest_listings)

highest number of car listings: 2015

In [61]:
# 25.What percentage of cars are using diesel vs petrol vs CNG?
fuel_type_percentage = df['Fuel_Type'].value_counts(normalize=True)*100
print("percentage of cars are using diesel vs petrol vs CNG:\n",fuel_type_percentage)

percentage of cars are using diesel vs petrol vs CNG:
 Fuel_Type
Petrol    79.401993
Diesel    19.933555
CNG        0.664452
Name: proportion, dtype: float64

In [62]:
#26.What is the highest and lowest Kms_Driven for each fuel type?
Kms_stats_per_fuel = df.groupby("Fuel_Type")['Kms_Driven'].agg(['min','max'])
print("Highest and lowest kms_driven for each fuel type:\n",Kms_stats_per_fuel)

Highest and lowest kms_driven for each fuel type:
              min     max
Fuel_Type
CNG        35500   49998
Diesel      2071  197176
Petrol       500  500000

In [59]:
#27.How many cars were sold with exactly 0 previous owners?
zero_owner_cars = df[df['Owner']==0].shape[0]
print("cars sold with exactly 0 previous owners\n:",zero_owner_cars)

cars sold with exactly 0 previous owners
: 290

In [44]:
#28.How many unique combinations of Fuel_Type, Seller_Type, and Transmission exist?
unique_combinations = df[['Fuel_Type','Seller_Type','Transmission']].drop_duplicates().shape[0]
print("unique combination of Fule_Type,Seller_Type,and Transmission:",unique_combinations)

unique combination of Fule_Type,Seller_Type,and Transmission: 8

In [46]:
#29.What is the average Selling_Price of cars that have more than 2 previous owners?
avg_price_more_than_2_owners = df[df['Owner'] > 2]['Selling_Price'].mean()
print("Average Selling_Price of cars that have more than > 2 previous owner:",avg_price_more_than_2_owners)

Average Selling_Price of cars that have more than > 2 previous owner: 2.5

In [47]:
# 30.Are there any cars where Selling_Price is greater than Present_Price?
selling_greater_present = df[df['Selling_Price']>df['Present_Price']].shape[0]
print("Selling price is greater than present price:",selling_greater_present)

Selling price is greater than present price: 0